<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>·:.:· ConrEcugA ·:.:· Control de gastos-recursos-cuentas-ganancias</title>
    <link rel="stylesheet" href="../sass/main.css">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&display=swap" rel="stylesheet">
</head>
<body>
    <div class="global">
        <!-- CABECERA -->
        <div class="cabecera">
            <div class="cabecera__logo">
                <img src="../img/logo.png" alt="logo">
            </div>
        </div>
        <!-- Letrero -->
        <div class="caja" id="mensaje">
            <div class="caja__titulo">
                <p>Algo ha ido mal</p>
            </div>
            <div class="caja__textos">
                <p>Vuelve atrás e intenta iniciar sesión con otras credenciales, por favor</p>
            </div>
        </div>   
        <div class="caja__honeycomb">
            <ul class="honeycomb">
                <!-- EL RETONNO [INICIO] -->
                <li class="honeycomb-cell">
                <!-- >>>>>>>>>> ENLACE <<<<<<<<<< -->   
                    <a href="../principal.php">
                        <img class="honeycomb-cell_image" src="../img/back.png">
                        <div class="honeycomb-cell_title">
                <!-- ********** TEXTO DE HEXÁGONO ********** -->
                            VOLVER
                        </div>
                    </a> 
                </li>
                <!-- EL RETONNO [FIN] -->
            </ul>
        </div>   
        <div class="pie">
            <p class="pie__datos">&#169 ConrEcugA - Luis Peñalver - PFC Desarollo de Aplicaciones Web - 2023</p>
        </div>                
    </div>
</body>
</html>